@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Start desktop responsive */
/* Global tag reset */
a {
  color: hsl(0, 0%, 29%);
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}
/* Global tag reset */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: hsl(0, 0%, 30%);
  cursor: default;
}
/* Start header styling */
header {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  max-width: 90rem;
  margin: 0 auto;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 2rem;
  aspect-ratio: 1;
}

.logo-name {
  color: hsl(0, 0%, 64%);
  font-weight: 400;
  letter-spacing: 0.5px;
}

.logo-name > span {
  font-weight: 700;
  color: hsl(0, 0%, 29%);
}

.nav-link-container {
  display: flex;
  gap: 1rem;
}

.mobile-nav {
  display: none;
}
/* End header styling */

/* Start main styling */
main {
  max-width: 90rem;
  margin: 0 auto;
}
/* Start hero styling */
.hero-section {
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: hsl(0, 0%, 85%);
  padding: 2rem 1.5rem;
}

.hero-left {
  width: 60%;
}

.hero-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40%;
  padding-right: 5rem;
}

.hero-title {
  font-size: 3.3rem;
}

.hero-description {
  font-size: 1.7rem;
}

.hero-btn {
  text-align: center;
  padding: 1rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 29%);
  max-width: 25rem;
}

.hero-btn:hover {
  background-color: hsl(0, 0%, 61%);
}
/* End hero styling */
/* End main styling */
/* End desktop responsive */
