@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Start desktop responsive */
/* Global tag reset */
a {
  color: hsl(0, 0%, 29%);
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}
/* Global tag reset */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: hsl(0, 0%, 30%);
  cursor: default;
}
/* Start header styling */
header {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  max-width: 90rem;
  margin: 0 auto;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 2rem;
  aspect-ratio: 1;
}

.logo-name {
  color: hsl(0, 0%, 64%);
  font-weight: 400;
  letter-spacing: 0.5px;
}

.logo-name > span {
  font-weight: 700;
  color: hsl(0, 0%, 29%);
}

.nav-link-container {
  display: flex;
  gap: 1rem;
}

.mobile-nav {
  display: none;
}
/* End header styling */

/* Start main styling */
main {
  max-width: 90rem;
  margin: 0 auto;
}
/* Start hero styling */
.hero-section {
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: hsl(0, 0%, 85%);
  padding: 2rem 1.5rem;
}

.hero-left {
  width: 60%;
}

.hero-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40%;
  padding-right: 5rem;
}

.hero-title {
  font-size: 3.3rem;
}

.hero-description {
  font-size: 1.7rem;
}

.hero-btn {
  text-align: center;
  padding: 1rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 29%);
  max-width: 25rem;
  transition: background-color 0.2s ease-out;
}

.hero-btn:hover {
  background-color: hsl(0, 0%, 61%);
}
/* End hero styling */

/* Start infomation styling */
.info-section {
  display: flex;
  gap: 1.5rem;
}

.info-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
  padding: 2rem 1.5rem;
}

.info-main-title {
  font-size: 2.5rem;
}

.info-main-description {
  font-size: 1.3rem;
  font-weight: 300;
  margin-block: 1.5rem;
}

.info-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid hsl(180, 3%, 88%);
  padding-block: 1rem 2rem;
}

.info-aside-container {
  display: flex;
  flex-direction: column;
}

.info-aside-container > li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid hsl(180, 3%, 88%);
  padding: 1rem;
  transition: background-color 0.2s ease-out;
}

.info-aside-container > li:hover {
  background-color: hsl(0, 0%, 85%);
}

.info-aside-img {
  width: 35%;
}

.info-img-mobile {
  display: none;
}

.info-aside-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info-aside-title {
  font-size: 2rem;
  font-weight: 500;
}

.info-aside-description {
  font-size: 1.3rem;
  font-weight: 300;
}

.info-aside-link {
  color: hsl(212, 72%, 59%);
}
/* End infomation styling */
/* Start course styling */
.course-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: hsl(210, 5%, 92%);
  padding: 2rem 4.5rem;
}
.course-main-title {
  font-size: 2.5rem;
}

.course-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.course-card {
  flex: 1 1 400px;
  max-width: 33.25rem;
  background-color: hsl(0, 0%, 100%);
  transition: background-color 0.2s ease-out;
}

.course-card:hover {
  background-color: hsl(0, 0%, 85%);
}

.course-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem 1.5rem;
}

.course-title {
  font-size: 2rem;
}

.course-type,
.course-description {
  color: hsl(0, 0%, 49%);
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.course-type {
  text-transform: uppercase;
}

.mobile-course {
  display: none;
}
/* End course styling */
/* Start thesis styling */
.thesis-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-block: 2rem;
}
.thesis-main-title {
  font-size: 2.5rem;
}

.thesis-content-container {
  display: flex;
  gap: 1.5rem;
}

.thesis-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 60%;
  padding-left: 1.5rem;
}

.thesis-main-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.thesis-title {
  font-size: 1.7rem;
  letter-spacing: 1px;
}

.thesis-description {
  font-size: 1.3rem;
  font-weight: 300;
}

.thesis-right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.thesis-aside-container > li > a.thesis-aside-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  transition: background-color 0.2s ease-out;
}

.thesis-aside-container > li:hover > a.thesis-aside-link {
  background-color: hsl(0, 0%, 85%);
}

.thesis-aside-img {
  width: 35%;
}

.thesis-aside-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 65%;
  padding-right: 2rem;
}

.thesis-aside-content > .thesis-description {
  color: hsl(0, 0%, 46%);
  font-weight: 300;
}
/* End thesis styling */
/* End main styling */

/* Start footer  styling*/
footer {
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 46%);
  font-weight: 400;
  max-width: 90rem;
  border-top: 1px solid hsl(180, 4%, 89%);
  margin: 0 auto;
  padding: 1rem 1.5rem;
}
.footer-right {
  display: flex;
  gap: 1rem;
}
/* End footer  styling*/
/* End desktop responsive */
/* Start mobile responsive */
@media (max-width: 768px) {
  /* Start header styling */
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav-link-container {
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .nav-link-container > li {
    display: flex;
    align-items: center;
  }
  /* End header styling */
  /* Start main styling */
  /* Start hero styling */
  .hero-section {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-right {
    gap: 0;
    padding: 2rem 1rem;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 1.5rem;
    margin-block: 2rem 1.5rem;
  }
  /* End hero styling */
  /* Start infomation styling */
  .info-section {
    flex-direction: column;
    gap: 0;
  }

  .info-left {
    display: none;
  }

  .info-right {
    align-items: center;
    width: 100%;
    border: none;
    padding: 1rem 1rem 2rem;
  }

  .info-aside-container {
    gap: 1rem;
  }

  .info-aside-container > li {
    flex-direction: column;
    align-items: flex-start;
    border: none;
    padding: 0;
  }

  .info-aside-img,
  .info-aside-content {
    width: 100%;
  }

  .info-img-desktop {
    display: none;
  }

  .info-img-mobile {
    display: block;
  }

  .info-aside-content {
    gap: 0.5rem;
    padding: 1rem;
  }

  .info-aside-title {
    font-size: 1.8rem;
  }

  .info-aside-description {
    font-size: 1.2rem;
  }

  .info-aside-link {
    font-size: 1.2rem;
  }

  /* End infomation styling */
  /* Start course styling */
  .course-section {
    gap: 1.5rem;
    background-color: hsl(300, 5%, 96%);
    border: 1px solid hsl(180, 2%, 92%);
    padding: 2rem 1rem;
  }

  .course-container {
    gap: 0.5rem;
  }

  .desktop-course {
    display: none;
  }

  .mobile-course {
    display: flex;
  }

  .course-card-mobile {
    width: 100%;
    background-color: hsl(0, 0%, 85%);
    padding: 1.5rem;
    transition: all 0.2s ease-out;
  }

  .course-card-mobile:hover {
    background-color: hsl(0, 0%, 61%);
  }

  .course-link-mobile {
    font-size: 1.5rem;
  }
  /* End course styling */
  /* Start thesis styling */
  .thesis-section {
    gap: 1.5rem;
    padding-block: 1.5rem;
  }

  .thesis-content-container {
    flex-direction: column;
  }

  .thesis-left {
    width: 100%;
    padding: 0;
  }

  .thesis-main-content {
    display: none;
  }

  .thesis-right {
    display: none;
  }
  /* End thesis styling */
  /* End main styling */
  /* Start footer styling */
  footer {
    justify-content: center;
    padding: 1.5rem;
  }
  .footer-right {
    display: none;
  }
  /* End footer styling */
} /* End mobile responsive */
